*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
notas.txt

# Credenciais de Serviço do Google Cloud
/TCC/storage/projetotcc-478522-255e1b6a806d.json
# OU (melhor): Ignore todas as chaves .json dentro de pastas de storage/keys se for o padrão
# *.json
