body {
  margin: 0;
  padding: 0;
  font-family: 'FONTE_TESTE', sans-serif;
  background-color: #14244D;
  /* azul de fundo */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@font-face {
  font-family: 'FONTE_TESTE';
  src: url(../fonts/fonnts.com-SQR721B.ttf) format('truetype');
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.login-box {
  display: flex;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.5);
}

.left,
.right {
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: justify;
}

.left {
  background-color: #ffffff;
  width: 400px;
}

.right {
  background-color: #851114;
  /* vermelho */
  color: white;
  width: 400px;
}

.logo {
  width: 150px;
  margin-bottom: 20px;
}

.left h2 {
  color: #851114;
  margin-top: 0;
  font-weight: normal;
}

.right h3 {
  margin: 0;
  margin-bottom: 10px;
  font-size: 1.5rem;
  font-weight: bold;
}

.right h3::after {
  content: "";
  display: block;
  width: 300px;
  height: 1px;
  background-color: #ffffff;
  margin: 5px 0;
}

.right p {
  margin-bottom: 20px;
  font-size: 14px;
}


.input-group {
  width: 100%;
  margin-bottom: 15px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.left img {
  margin: auto;
}

.left h2{
  margin: auto;
}


button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
  background-color: #16801b;
  cursor: pointer;
  box-shadow: 4px 6px 0px rgb(0, 0, 0);
  border: 4px solid;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  z-index: 100;
  transition: box-shadow 250ms, transform 250ms, filter 50ms;
  row-gap: 2px;
  margin: auto;
}

button:hover {
  transform: translate(2px, 2px);
  box-shadow: 2px 3px 0px black;
}

button:active {
  filter: saturate(0.75);
}

button::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgb(18, 46, 15);
  z-index: -1;
  transform: translateX(-100%);
  transition: transform 250ms;
}

button:hover::after {
  transform: translateX(0);
}

.bgContainer {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
  overflow: hidden;
  max-width: 35%;
  /* adjust this if the button text is not proper */
  font-size: 1em;
  color: #ffffff;
  font-weight: 600;
}

.bgContainer span {
  position: relative;
  transform: translateX(-100%);
  transition: all 250ms;
}

.button:hover .bgContainer>span {
  transform: translateX(0);
}

.arrowContainer {
  padding: 1px;
  border: 4px solid;
  border-radius: 50%;
  background-color: #ffffff;
  position: relative;
  overflow: hidden;
  transition: transform 250ms, background-color 250ms;
  z-index: 100;
}

.arrowContainer::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  background-color: #16801b;
  transform: translateX(-100%);
  z-index: -1;
  transition: transform 250ms ease-in-out;
}

button:hover .arrowContainer::after {
  transform: translateX(0);
}

button:hover .arrowContainer {
  transform: translateX(5px);
}

button:active .arrowContainer {
  transform: translateX(8px);
}

.arrowContainer svg {
  vertical-align: middle;
}

.forgot {
  margin-top: 10px;
  font-size: 12px;
  color: #c9c9c9;
  text-decoration: none;
}